*

!.github
!.github/**

!doc
!doc/**/
!doc/**/*.md

!include
!include/**/
!include/**/*.h
!include/**/*.hh

!src
!src/**/
!src/*/**/*.c
!src/*/**/*.cc
!src/*/**/*.h
!src/*/**/*.hh
!src/ls*.cc

!scripts
!scripts/common.mak
!scripts/ls.mak
!scripts/install.bat
!scripts/uninstall.bat

!deps
!deps/*

!LICENSE
!CONTRIBUTING.md
!Makefile
!README.md
!.gitignore
!.clang-format