*

!.github
!.github/**

!doc
!doc/**/
!doc/**/*.md

!include
!include/**/
!include/**/*.h
!include/**/*.hh

!src
!src/**/
!src/*/**/*.c
!src/*/**/*.cc
!src/*/**/*.h
!src/*/**/*.hh
!src/*/proj.txt
!src/lsproj.cc

!scripts
!scripts/common.mak
!scripts/lsproj.mak
!scripts/install.bat
!scripts/uninstall.bat

!LICENSE
!Makefile
!README.md
!.gitignore